.DS_Store
*.xcuserdatad/*
/vncforios.xcodeproj/project.xcworkspace/xcuserdata
/vncforios.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.theos
vncserverd/packages/*
vncforios.xcodeproj/xcuserdata
